make-blueprints/SIW - Daily Processing.blueprint (1).json
{
    "name": "SIW - Daily Processing",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1913563,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Receive User Config"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "SIW - Daily Processing"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Kill Switch Check"
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7471828
                            },
                            "filter": {
                                "name": "User is active",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.paused}}",
                                            "b": "false",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "share",
                                "filter": [
                                    [
                                        {
                                            "a": "G",
                                            "b": "false",
                                            "o": "boolean:equal"
                                        }
                                    ]
                                ],
                                "sheetId": "Sheet1",
                                "sortOrder": "asc",
                                "spreadsheetId": "{{1.sheet_id}}",
                                "tableFirstRow": "A1:Z1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150,
                                    "name": "Filter Unpaid Invoices"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "Select from all"
                                        },
                                        "sheetId": {
                                            "mode": "edit",
                                            "label": "Sheet1"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-Z"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (admin@synthinsightlabs.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "Invoice_Number (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "Client_Name (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "Client_Email (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "Amount (D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "Due_Date (E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "Sent_Date (F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "Paid (G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "Last_Stage_Sent (H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "Last_Sent_At (I)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "invoice_count",
                                "scope": "execution",
                                "value": "{{4.__IMTLENGTH__}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150,
                                    "name": "Set invoice_count"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One execution"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "invoice_count",
                                        "type": "any",
                                        "label": "invoice_count"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "days_overdue",
                                "scope": "roundtrip",
                                "value": "{{dateDiff(now; 4.`4`; \"D\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -150,
                                    "name": "Calculate days_overdue"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "days_overdue",
                                        "type": "any",
                                        "label": "days_overdue"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "stage",
                                "scope": "roundtrip",
                                "value": "{{if(8.days_overdue >= 42; 42; if(8.days_overdue >= 35; 35; if(8.days_overdue >= 28; 28; if(8.days_overdue >= 21; 21; if(8.days_overdue >= 14; 14; if(8.days_overdue >= 7; 7; 0))))))}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": -150,
                                    "name": "Determine Escalation Stage"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "stage",
                                        "type": "any",
                                        "label": "stage"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "parameters": {
                                "else": 1
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": -150,
                                    "name": "Should Send Draft?"
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 18,
                                            "module": "google-email:createADraft",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 7471878
                                            },
                                            "filter": {
                                                "name": "New stage needed",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{10.stage}}",
                                                            "b": "{{4.7}}",
                                                            "o": "number:greater"
                                                        },
                                                        {
                                                            "a": "{{4.8}}",
                                                            "b": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                                                            "o": "text:notequal"
                                                        },
                                                        {
                                                            "a": "{{10.stage}}",
                                                            "b": "0",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "to": [
                                                    "{{4.`2`}}"
                                                ],
                                                "subject": "{{\"Re: Invoice \" + 4.`0` + \" — Follow-up\"}}",
                                                "bodyType": "collection",
                                                "contents": [
                                                    {
                                                        "text": "{{\"Hi \" + 4.`1` + \",\" + newline + newline + \"I'm following up on Invoice \" + 4.`0` + \" for $\" + 4.`3` + \", which was due on \" + 4.`4` + \". This invoice is now \" + 8.days_overdue + \" days overdue.\" + newline + newline + \"Could you please provide an update on when we can expect payment?\" + newline + newline + \"Thank you,\" + newline + 1.sender_name + newline + 1.business_name}}"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": -400,
                                                    "name": "Create Gmail Draft"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "to": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "from": {
                                                            "mode": "chose"
                                                        },
                                                        "bodyType": {
                                                            "label": "Collection of contents (text, images, etc.)"
                                                        },
                                                        "contents": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google-email"
                                                            },
                                                            "label": "My Gmail connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google-email",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "From"
                                                    },
                                                    {
                                                        "name": "to",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "To",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "subject",
                                                        "type": "text",
                                                        "label": "Subject"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "rawHtml",
                                                                "collection"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "contents",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "text",
                                                                    "type": "text",
                                                                    "label": "Text"
                                                                },
                                                                {
                                                                    "name": "image",
                                                                    "spec": [
                                                                        {
                                                                            "name": "filename",
                                                                            "type": "filename",
                                                                            "label": "File name",
                                                                            "semantic": "file:name"
                                                                        },
                                                                        {
                                                                            "name": "data",
                                                                            "type": "buffer",
                                                                            "label": "Data",
                                                                            "semantic": "file:data"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Image"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Content"
                                                        },
                                                        "type": "array",
                                                        "label": "Body contents"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 20,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 7471828
                                            },
                                            "mapper": {
                                                "mode": "fromAll",
                                                "values": {
                                                    "7": "{{10.stage}}",
                                                    "8": "{{formatDate(now; \"YYYY-MM-DD\")}}"
                                                },
                                                "sheetId": "Sheet1",
                                                "rowNumber": "{{4.__ROW_NUMBER__}}",
                                                "spreadsheetId": "{{1.sheet_id}}",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false,
                                                "valueInputOption": "USER_ENTERED"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": -400,
                                                    "name": "Update Sheet Row"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "mode": {
                                                            "label": "Select from all"
                                                        },
                                                        "sheetId": {
                                                            "mode": "edit"
                                                        },
                                                        "includesHeaders": {
                                                            "label": "Yes"
                                                        },
                                                        "useColumnHeaders": {
                                                            "label": "No",
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "Invoice_Number (A)"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "Client_Name (B)"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "Client_Email (C)"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "Amount (D)"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "Due_Date (E)"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "Sent_Date (F)"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "Paid (G)"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "Last_Stage_Sent (H)"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "Last_Sent_At (I)"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values in columns",
                                                                    "metadata": [
                                                                        [
                                                                            [
                                                                                "Invoice_Number",
                                                                                "Client_Name",
                                                                                "Client_Email",
                                                                                "Amount",
                                                                                "Due_Date",
                                                                                "Sent_Date",
                                                                                "Paid",
                                                                                "Last_Stage_Sent",
                                                                                "Last_Sent_At"
                                                                            ]
                                                                        ]
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "My Google connection (admin@synthinsightlabs.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "text",
                                                        "label": "Spreadsheet ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "rowNumber",
                                                        "type": "uinteger",
                                                        "label": "Row number",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "useColumnHeaders",
                                                        "type": "select",
                                                        "label": "Use column headers as IDs of the columns",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "Invoice_Number (A)"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "Client_Name (B)"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "Client_Email (C)"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "Amount (D)"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "Due_Date (E)"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "Sent_Date (F)"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "Paid (G)"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "Last_Stage_Sent (H)"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "Last_Sent_At (I)"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Values in columns",
                                                        "metadata": [
                                                            [
                                                                [
                                                                    "Invoice_Number",
                                                                    "Client_Name",
                                                                    "Client_Email",
                                                                    "Amount",
                                                                    "Due_Date",
                                                                    "Sent_Date",
                                                                    "Paid",
                                                                    "Last_Stage_Sent",
                                                                    "Last_Sent_At"
                                                                ]
                                                            ]
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 27,
                                            "module": "placeholder:Placeholder",
                                            "filter": {
                                                "name": "Skip - no new stage needed",
                                                "conditions": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 0
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 22,
                                            "module": "builtin:BasicAggregator",
                                            "version": 1,
                                            "parameters": {
                                                "feeder": 4
                                            },
                                            "mapper": {},
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": -150,
                                                    "name": "Count Drafts Created"
                                                },
                                                "restore": {
                                                    "extra": {
                                                        "feeder": {
                                                            "label": "Filter Unpaid Invoices [4]"
                                                        },
                                                        "target": {
                                                            "label": "Custom"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "id": 24,
                                            "module": "util:SetVariable2",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "name": "drafts_created",
                                                "scope": "execution",
                                                "value": "{{length(22.array)}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3300,
                                                    "y": -150,
                                                    "name": "Set drafts_created"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One execution"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Variable value"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "drafts_created",
                                                        "type": "any",
                                                        "label": "drafts_created"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 26,
                                            "module": "http:MakeRequest",
                                            "version": 4,
                                            "parameters": {},
                                            "mapper": {
                                                "qs": [],
                                                "url": "{{1.backend_url}}/api/webhooks/make-results",
                                                "body": "{\"user_id\": \"{{1.user_id}}\", \"invoices_checked\": {{5.invoice_count}}, \"drafts_created\": {{24.drafts_created}}, \"total_outstanding_amount\": 0, \"errors\": [], \"duration_ms\": 0}",
                                                "method": "post",
                                                "headers": [
                                                    {
                                                        "name": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ],
                                                "timeout": 30,
                                                "useMtls": false,
                                                "authPass": "",
                                                "authUser": "",
                                                "bodyType": "raw",
                                                "contentType": "application/json",
                                                "parseResponse": true,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "followAllRedirects": false,
                                                "rejectUnauthorized": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3600,
                                                    "y": -150,
                                                    "name": "POST Results to Backend",
                                                    "messages": [
                                                        {
                                                            "category": "setup",
                                                            "severity": "error",
                                                            "message": "Value must not be empty."
                                                        }
                                                    ]
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "POST"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bodyType": {
                                                            "label": "Raw"
                                                        },
                                                        "contentType": {
                                                            "label": "JSON (application/json)"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "name",
                                                                    "type": "text",
                                                                    "label": "Name",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Value"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Header"
                                                        },
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type"
                                                    },
                                                    {
                                                        "name": "contentType",
                                                        "type": "select",
                                                        "label": "Content type"
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "text",
                                                        "label": "Request content"
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 28,
                            "module": "placeholder:Placeholder",
                            "filter": {
                                "name": "User is paused",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.paused}}",
                                            "b": "true",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}