make-blueprints/SIW_Create_Template_blueprint.json
{
    "name": "SIW - Create Template",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": null,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Receive User ID"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "SIW - Create Template"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:createSpreadsheet",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 7471828
            },
            "mapper": {
                "title": "Invoice Tracker - Smart Invoice Workflow",
                "locale": "en_US"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Create Spreadsheet"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Sheets Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "locale",
                        "type": "text",
                        "label": "Locale"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7471828
            },
            "mapper": {
                "mode": "fromAll",
                "values": {
                    "0": "Invoice_Number",
                    "1": "Client_Name",
                    "2": "Client_Email",
                    "3": "Amount",
                    "4": "Due_Date",
                    "5": "Sent_Date",
                    "6": "Paid",
                    "7": "Last_Stage_Sent",
                    "8": "Last_Sent_At"
                },
                "sheetId": "Sheet1",
                "spreadsheetId": "{{2.spreadsheetId}}",
                "includesHeaders": false,
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Add Header Row"
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Select from all"
                        },
                        "sheetId": {
                            "mode": "edit"
                        },
                        "includesHeaders": {
                            "label": "No"
                        },
                        "useColumnHeaders": {
                            "label": "No"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google Sheets Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "status": "200",
                "body": "{\"sheet_id\": \"{{2.spreadsheetId}}\", \"sheet_url\": \"https://docs.google.com/spreadsheets/d/{{2.spreadsheetId}}/edit\"}",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Return Sheet Info"
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "validate": {
                            "min": 100
                        },
                        "required": true
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        },
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}
